<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xishi.user.dao.mapper.InvitationUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xishi.user.model.pojo.InvitationUser">
        <id column="id" property="id"/>
        <result column="from_uid" property="fromUid"/>
        <result column="to_uid" property="toUid"/>
        <result column="code" property="code"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, from_uid, to_uid, code, create_time
    </sql>
    <select id="selectMyInviteUser" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM eb_invitation_user
        WHERE to_uid =#{userId}
    </select>
    <select id="selectInviteRank" resultType="java.util.Map">

        SELECT
          a.count,
          from_uid as userId
        FROM
            (
                SELECT
                    COUNT(id) count,
                    from_uid
                FROM
                    eb_invitation_user
                WHERE
                    create_time
                BETWEEN
                    #{startTime}
                AND
                    #{endTime}
                GROUP BY
                    from_uid
            ) AS a
        ORDER BY
            a.count DESC
    </select>

</mapper>
