<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xishi.user.dao.mapper.InvitationCodeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xishi.user.model.pojo.InvitationCode">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="qr_code" property="qrCode"/>
        <result column="user_id" property="userId"/>
        <result column="user_num" property="userNum"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, qr_code,user_id, user_num, create_time
    </sql>
    <select id="selectByCode" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM eb_invitation_code WHERE code=#{code}
    </select>
    <select id="selectOneByUserId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM eb_invitation_code WHERE user_id=#{userId}
    </select>
</mapper>
