<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xishi.user.dao.mapper.WithdrawalMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xishi.user.model.pojo.Withdrawal">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="account" property="account" />
        <result column="money" property="money" />
        <result column="rate" property="rate" />
        <result column="rate_money" property="rateMoney" />
        <result column="real_money" property="realMoney" />
        <result column="state" property="state" />
        <result column="way" property="way" />
        <result column="admin_id" property="adminId" />
        <result column="audit_time" property="auditTime" />
        <result column="remark" property="remark" />
        <result column="order_num" property="orderNum" />
        <result column="trade_num" property="tradeNum" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="agent_id" property="agentId" />
        <result column="is_create_agent" property="isCreateAgent" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, user_name, account, money, rate, rate_money, real_money, state, way, admin_id, audit_time, remark, order_num, trade_num, create_time, update_time, agent_id,is_create_agent
    </sql>

</mapper>
